* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: #1972a8;
  text-decoration: none;
}

input[type="text"],
input[type="password"] {
  background-color: #fdfafa;
  border: 1px solid #e8e8e8;
  height: 51px;
  border-radius: 8px;
  margin: 8px 0;
  padding: 0 16px;
}

.btn {
  border: none;
  height: 50px;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.9;
}

.btn__positive {
  background-color: #04c35c;
}

.btn__negative {
  background: rgba(251, 6, 21, 0.65);
}
main {
  display: flex;
  height: 100vh;
}

main div {
  width: 50%;
}
